---
---

@import "{{ site.theme }}";
@import url("./olney_light.otf");

@font-face {
  font-family: "headersFont";
  src: url("olney_light.otf");
}

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'headersFont', Helvetica, Arial, sans-serif !important;
}

header h1 {
  font-size: 3.5em;
}

#main-content h1 {
  font-size: 2em;
}

aside * {
  display: block;
  margin-bottom: 7px;
}

aside .header {
  font-family: 'headersFont', Helvetica, Arial, sans-serif !important;
  font-size: larger;
  font-weight: bold;
}

aside .number, aside .addr {
  margin-top: 10px;
  width: 110px;
}